@media (width > 576px){
    .header-container{
        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;  
            }
        }
    }
    .brands-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #main-grid{
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "description description"
        "hair nails"
        "beauty cejas"
    }

    .servicios-grid{
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hair"
        "nails"
        "beauty"
        "cejas";
    }
}

@media (width > 910px){
    .servicios-grid{
        margin-right: 70px;
        margin-left: 70px;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hair"
        "nails"
        "beauty"
        "cejas";
        .servicios-hair{
            display: flex;
            flex-direction: row;
            a{
                img{
                    min-width: 450px;
                    height: auto;                
                }
            }
            
        }
        .servicios-nails{
            display: flex;
            flex-direction: row-reverse;
            a{
                img{
                    min-width: 450px;
                    height: auto;                
                }
            }
        }
        .servicios-beauty{
            display: flex;
            flex-direction: row;
            a{
                img{
                    min-width: 450px;
                    height: auto;                
                }
            }
        }
        .servicios-cejas{
            display: flex;
            flex-direction: row-reverse;
            a{
                img{
                    min-width: 450px;
                    height: auto;                
                }
            }
        }
    }
    .error-404{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 2.6rem;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.6rem;            
        }
        a{
            font-size: 1.8rem;
        }
        li:hover{
            transform: scale(1.1);
            & a{
                color: $hover-color;
            }
        }
    }   
}

@media (width > 991px){
    .card-config-promo-hair{
        animation: up-down 3s;
    }

    .card-config-promo-nails{
        animation: up-down  3s;
    }

    .card-config-promo-beauty{       
        margin-top: 180px;
        animation: down-up 3s;       
    }

    .card-config-promo-cejas{       
        margin-top: 180px;
        animation: down-up 3s;
    }
}

@media (width > 1200px){
    #main-grid{
        margin: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "description hair nails"
        "description beauty cejas";
            .description-grid{
                padding: 30px 30px;
                line-height: 3.2rem;                                            
            }                
    }

    .servicios-grid{
        margin-right: 0px;
        margin-left: 0px;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hair"
        "nails"
        "beauty"
        "cejas";
        .servicios-hair{
            animation: go-back 3s;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-right: 80px;
        }
        .servicios-nails{
            animation: back-go 3s;
            display: flex;
            flex-direction: row-reverse;
            margin-left: 80px;
            margin-right: 20px;
        }
        .servicios-beauty{
            animation: go-back 3s;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-right: 80px;
        }
        .servicios-cejas{
            animation: back-go 3s;
            display: flex;
            flex-direction: row-reverse;
            margin-left: 80px;
            margin-right: 20px;
        }
    }

    .footer-container{
        width: 100fw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card-config-promo-beauty{       
        margin-top: 180px;
    }

    .card-config-promo-cejas{       
        margin-top: 180px;
    }
}

@media (width > 1270px){
    #main-grid{
        margin: 40px;
        .description-grid{
            line-height: 3.8rem;                                            
        }                
    }
}

@media (width > 1400px){
    #main-grid{
        .description-grid{
            line-height: 3.8rem; 
            h1{
                padding: 30px 0px;
            }
        }      
    }
}

@media (width > 1600px){
    #main-grid{
        margin-right: 150px;
        margin-left: 150px;
        .description-grid{ 
            h1{
                padding: 40px 0px;
            }
        }
    }
    .servicios-grid{
        margin-right: 0px;
        margin-left: 0px;
        row-gap: 20px;
        .servicios-hair{
            margin-left: 80px;
            margin-right: 250px;
        }
        .servicios-nails{
            margin-left: 250px;
            margin-right: 80px;
        }
        .servicios-beauty{
            margin-left: 80px;
            margin-right: 250px;
        }
        .servicios-cejas{
            margin-left: 250px;
            margin-right: 80px;
        }
    }
}

@media (width > 1700px){
    #main-grid{
        margin-right: 300px;
        margin-left: 300px;
    }
}